---
title: Albuquerque Fellows February Research Report&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Code for America
layout: default
---

<section class="stories stories--opener" id="<% data.opener.category %>">
	<div class="intro">
		<div class="container">
		
			<div class="intro__content">
			</div>
			<div class="intro__description">
				{% include opener.html %}
			</div>
		
		</div>
	</div>
</section>

{% for section in site.collections.sections.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div> 
				</div>
			</div>
		</div>
	</section>
{% endfor %}

<!-- PRICIPLES start -->

<p class="sub-headline"></p>
<section class="stories">
		<div class="intro" style="background-color: #03588C;">
			<div class="container">
				<div class="intro__content">
					<h1>DESIGN PRINCIPLES</h1>
					<p class="sub-headline" class="intro__content__overline">
						There are two principles that we will align with at every turn of the design process.
					</p>
				</div>
			</div>
		</div>
	</section>


{% for section in site.collections.principles.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}

<!-- PRINCIPLES end -->
<!-- THEMES start -->

<p class="sub-headline"></p>
<section class="stories">
		<div class="intro" style="background-color: #03588C;">
			<div class="container">
				<div class="intro__content">
					<h1>DESIGN THEMES</h1>
					<p class="sub-headline" class="intro__content__overline">
						There are four themes that we will use as containers in which to decode the issues. Workforce Development, Education, Poverty, and Inclusion.
					</p>
				</div>
			</div>
		</div>
	</section>


{% for section in site.collections.themes.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
		
		{% if section.storycards %}
			<div class="container">
				STORIES HERE
				{% for story in site.data.storycards[section.storycards] %}
					{{ story.description }}
					<article class="story">
						<div class="story__image" style="background-image:url('{{ site.baseurl }}{{ story.image-link }}');"></div>
			
						<div class="story__body">
							<div class="story__body__header">
								<ul>
									<li class="story__body__header__link--facebook">
										<a href="#">Share on Facebook</a>
									</li>
									<li class="story__body__header__link--twitter">
										<a href="#">Share on Twitter</a>
									</li>
									<li class="story__body__header__link--information">
										<a href="#">More Information</a>
									</li>
								</ul>
							</div>
			            
							<div class="story__body__content">
								<div class="story__body__content__opener">
									<p><strong><%= story['category'] %></strong></p>
									<h2>{{ story.description }}</h2>
								</div>
								
								<div class="story__body__content__quote">
									<p>{{ story.quote }}</p>
									<p class="story__body__content__quote__credit">&mdash; <%= story['quote-attribution'] %></p>
								</div>

								{% if story.metrics %}
								<ul class="story__body__content__metrics">
									{% for metric in story.metrics %}
									<li>
										<p class="story__body__content__metrics__number">{{ metric.number }}</p>
										<p class="story__body__content__body__metrics__description">{{ metric.description }}</p>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
			
			              <ul class="story__body__content__links">
			                <li class="story__body__content__link--<%= story['link-1-type'] %>">
			                  <a href="<%= story['link-1-url'] %>">
			                    <p class="story__body__content__link--header"><%= story['link-1-header'] %></p>
			                    <p class="story__body__content__link--link"><%= story['link-1-description'] %></p>
			                  </a>
			                </li>
			                <li class="story__body__content__link--<%= story['link-2-type'] %>">
			                  <a href="<%= story['link-2-url'] %>">
			                    <p class="story__body__content__link--header"><%= story['link-2-header'] %></p>
			                    <p class="story__body__content__link--link"><%= story['link-2-description'] %></p>
			                  </a>
			                </li>
			                <li class="story__body__content__link--<%= story['link-3-type'] %>">
			                  <a href="<%= story['link-3-url'] %>">
			                    <p class="story__body__content__link--header"><%= story['link-3-header'] %></p>
			                    <p class="story__body__content__link--link"><%= story['link-3-description'] %></p>
			                  </a>
			                </li>
			              </ul>
			            </div><!-- end .story__body__content -->
			          </div><!-- end .story__body -->
			        </article><!-- end .story -->
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endfor %}

{% for section in site.collections.close.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}

<script type="text/x-template" id="js-story-template">

<% _.each(data.sections, function(section){ %>
  <section class="stories" id="<%= section.metadata.categoryId %>">

    <div class="intro" style="<% if (section.metadata.color !== "") { %> background-color: <%= section.metadata.color %>; <% } %>">
      <div class="container">

        <div class="intro__content">
          <h1><%= section.metadata.headline %></h1>
          <p  class="sub-headline" class="intro__content__overline">
            <%= section.metadata.category %>
          </p>
          <p><%= section.metadata.description %></p> 
        </div>

      </div><!-- end .container -->
    </div><!-- end .intro -->

    <div class="container">
      <% _.each(section.stories, function(story){ %>
        <article class="story">
          <div class="story__image" style="background-image:url('{{ site.baseurl }}<%= story['image-link'] %>');">
          </div>

          <div class="story__body">
            <div class="story__body__header">
              <ul>
                <li class="story__body__header__link--facebook">
                  <a href="#">Share on Facebook</a>
                </li>
                <li class="story__body__header__link--twitter">
                  <a href="#">Share on Twitter</a>
                </li>
                <li class="story__body__header__link--information">
                  <a href="#">More Information</a>
                </li>
              </ul>
            </div>
            
            <div class="story__body__content">
              <div class="story__body__content__opener">
                <p><strong><%= story['category'] %></strong></p>
                <h2><%= story['description'] %></h2>
              </div>

              <div class="story__body__content__quote">
                <p><%= story['quote'] %></p>
                <p class="story__body__content__quote__credit">&mdash; <%= story['quote-attribution'] %></p>
              </div>

              <ul class="story__body__content__metrics">
                <li>
                  <p class="story__body__content__metrics__number"><%= story['metric-1-number'] %></p>
                  <p class="story__body__content__body__metrics__description"><%= story['metric-1-description'] %></p>
                </li>
                <li>
                  <p class="story__body__content__metrics__number"><%= story['metric-2-number'] %></p>
                  <p class="story__body__content__body__metrics__description"><%= story['metric-2-description'] %></p>
                </li>
                <li>
                  <p class="story__body__content__metrics__number"><%= story['metric-3-number'] %></p>
                  <p class="story__body__content__body__metrics__description"><%= story['metric-3-description'] %></p>
                </li>
              </ul>

              <ul class="story__body__content__links">
                <li class="story__body__content__link--<%= story['link-1-type'] %>">
                  <a href="<%= story['link-1-url'] %>">
                    <p class="story__body__content__link--header"><%= story['link-1-header'] %></p>
                    <p class="story__body__content__link--link"><%= story['link-1-description'] %></p>
                  </a>
                </li>
                <li class="story__body__content__link--<%= story['link-2-type'] %>">
                  <a href="<%= story['link-2-url'] %>">
                    <p class="story__body__content__link--header"><%= story['link-2-header'] %></p>
                    <p class="story__body__content__link--link"><%= story['link-2-description'] %></p>
                  </a>
                </li>
                <li class="story__body__content__link--<%= story['link-3-type'] %>">
                  <a href="<%= story['link-3-url'] %>">
                    <p class="story__body__content__link--header"><%= story['link-3-header'] %></p>
                    <p class="story__body__content__link--link"><%= story['link-3-description'] %></p>
                  </a>
                </li>
              </ul>
            </div><!-- end .story__body__content -->
          </div><!-- end .story__body -->
        </article><!-- end .story -->
      <% }); /* end _.each section.stories */ %>
    </section>
    <% }); /* end _.each sections */ %>
  </div><!-- end .container -->

</script>

