---
title: Albuquerque Fellows February Research Report&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Code for America
layout: default
---

<section class="stories stories--opener" id="<% data.opener.category %>">
	<div class="intro">
		<div class="container">
		
			<div class="intro__content">
			</div>
			<div class="intro__description">
				{% include opener.html %}
			</div>
		
		</div>
	</div>
</section>

{% for section in site.collections.sections.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div> 
				</div>
			</div>
		</div>
	</section>
{% endfor %}

<!-- PRICIPLES start -->

<p class="sub-headline"></p>
<section class="stories">
		<div class="intro" style="background-color: #03588C;">
			<div class="container">
				<div class="intro__content">
					<h1>DESIGN PRINCIPLES</h1>
					<p class="sub-headline" class="intro__content__overline">
						There are two principles that we will align with at every turn of the design process.
					</p>
				</div>
			</div>
		</div>
	</section>


{% for section in site.collections.principles.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}

<!-- PRINCIPLES end -->
<!-- THEMES start -->

<p class="sub-headline"></p>
<section class="stories">
		<div class="intro" style="background-color: #03588C;">
			<div class="container">
				<div class="intro__content">
					<h1>DESIGN THEMES</h1>
					<p class="sub-headline" class="intro__content__overline">
						There are four themes that we will use as containers in which to decode the issues. Workforce Development, Education, Poverty, and Inclusion.
					</p>
				</div>
			</div>
		</div>
	</section>


{% for section in site.collections.themes.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
		
		{% if section.storycards %}
			<div class="container">
				{% for storyobject in site.data.storycards[section.storycards] %}
					{% assign story = storyobject[1] %}
					<article class="story">
						<div class="story__image" style="background-image:url('{{ site.baseurl }}{{ story.image-link }}');"></div>
			
						<div class="story__body">
							<div class="story__body__header">
								<ul>
									<li class="story__body__header__link--facebook">
										<a href="#">Share on Facebook</a>
									</li>
									<li class="story__body__header__link--twitter">
										<a href="#">Share on Twitter</a>
									</li>
									<li class="story__body__header__link--information">
										<a href="#">More Information</a>
									</li>
								</ul>
							</div>
			            
							<div class="story__body__content">
								<div class="story__body__content__opener">
									<h2>{{ story.description }}</h2>
								</div>
								
								<div class="story__body__content__quote">
									<p>{{ story.quote }}</p>
									<p class="story__body__content__quote__credit">&mdash; {{ story.quote-attribution }}</p>
								</div>

								{% if story.metrics %}
								<ul class="story__body__content__metrics">
									{% for metric in story.metrics %}
									<li>
										<p class="story__body__content__metrics__number">{{ metric.number }}</p>
										<p class="story__body__content__body__metrics__description">{{ metric.description }}</p>
									</li>
									{% endfor %}
								</ul>
								{% endif %}

								{% if story.links %}
								<ul class="story__body__content__links">
									{% for link in story.links %}
									<li class="story__body__content__link--<%= story['link-1-type'] %>">
										<a href="{{ link.url }}">
											<p class="story__body__content__link--header">{{ link.header }}</p>
											<p class="story__body__content__link--link">{{ link.description }}</p>
										</a>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div><!-- end .story__body__content -->
						</div><!-- end .story__body -->
					</article><!-- end .story -->
				{% endfor %}
			</div>
		{% endif %}
	</section>
{% endfor %}

{% for section in site.collections.close.docs %}
	<section class="stories">
		<div class="intro" style="{% if section.color %}background-color: {{ section.color }}; {% endif %}">
			<div class="container">
				<div class="intro__content">
					<h1>{{ section.title }}</h1>
					<p class="sub-headline" class="intro__content__overline">
						{{ section.subtitle }}
					</p>
					<div>{{ section.content }}</div>
				</div>
			</div>
		</div>
	</section>
{% endfor %}
