<script type="text/x-template" id="js-nav-template">
  <div class="logo">
    <a href="#">{{ page.title }}</a>
  </div>
  <nav class="nav">
    <ul>
      <li class="currently">Currently Reading:</li>
      <% if (data.opener) { %>
        <li class="active"><a id="header-<%= data.opener.categoryId %>" href="#<%= data.opener.categoryId %>"><%= data.opener.nav %></a></li>
      <% } %>
      <% _.each(data.sections, function(section){ %>
        <li><a id="header-<%= section.metadata.categoryId %>" href="#<%= section.metadata.categoryId %>"><%= section.metadata.nav %></a></li>
      <% }); %>
      <li class="expand"></li>
    </ul>
  </nav>
</script>
