<h1>ALBUQUERQUE FELLOWS RESEARCH REPORT</h1>

<p class="sub-headline">What is Code for America?</p>

<p>Code for America is a San Francisco based non-profit that believes government can work for the people, by the people in the 21st century. Code for America works with cities to build open source technology and organize a network of people dedicated to making government services simple, effective, and easy to use.</p>

<p style="font-style: italic; font-family: abril-text, Sentinel, serif;">What are Code for America Fellows?</p>

<p>The Fellowship program sends teams of experienced technologists into local governments across the country to work full-time for a year in partnership with government officials. The fellows apply 21st Century Government Principles to important problems.</p><p>You can learn more about the fellowship <a href="https://www.codeforamerica.org/about/fellowship/" target="_blank">here</a>.</p>