//
// _component_intro.scss
//
// Styles for the .intro component, which comes at the beginning of each category.
//

$padding: 4em;

.intro {
  background-color: $blue;
  color: white;
  @include span-columns(12 of 12);
  padding-top: $padding;
  padding-bottom: $padding;
}

.intro__content {
  @include span-columns(10 of 12);
  @include shift(1 of 12);
}

.intro__content h1 {
  color: white;
}

.sub-headline { font-style: italic; font-family: abril-text, Sentinel, serif;}

.intro__content p {
  //font-style: italic;
}

// =====
// Styles for the .opener, the first section of the report
// =====

.stories--opener .intro__description {
  @include span-columns(10 of 12);
  @include shift(1 of 12);
}

p, ul li {
  color: white;
  
  font-family: $sans-serif;
  	.intro__content {
	  	font-family: abril-text, Sentinel, serif;
  	}
  	
  a:link, a:visited, a:active {
	color: white; 
	text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}