<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">
    <title>{{ page.title }}</title>

    <!-- Call our CSS -->
    <link href="{{ site.baseurl }}/css/application.css" rel="stylesheet">

    <!-- Load Typekit '2014 CfA Annual Report' from @davidleonardii -->
    <script src="//use.typekit.net/inc1khj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <header id="js-header">
      {% include nav.html %}
    </header>

    <main id="js-main">
      {{ content }}
    </main>

  </body>
</html>
